
.grid-layout {
    display: grid;
    grid-gap: 5px;
    width: fit-content;
    grid-template-columns: repeat(4, minmax(200px, 400px));
}
.grid-box {
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;

}
